- content_for :scripts do
  = javascript_include_tag 'movies'

- content_for :navbar_content do
  #nav-content-standard
    .nav__controls.nav__controls--right
      %a#nav-search.nav__control{href: "#"}
        %span.icon.icon-search
    .nav__content.nav__content--left
      %h2.nav__title Popular Movies
  #nav-content-search.hidden

= render "shared/subnav"
.content
  #movie-info-popup.mfp-hide.modal
  #movies-collection
