.search-input
  %input#search-input.input.input--nav.input--search{:name => "search-input", :type => "text", :value => "", :placeholder => "Search..."}/
  .search-input__controls
    #search-input__clear.search-input__clear
      %a{href: "#"}
        %span.icon.icon-close
    #search-input__loading.search-input__loading
      %span.icon.icon-schedule
