.body{
  font-family: $font-family-default;
  background-color: $color-body-bgnd;
}

.body--main{
  // background: asset-url('the-avengers.jpg') no-repeat center center fixed;
  background-size: cover;
}

.body--marketing{
  background-color: $color-primary;
  @include radial-gradient($color-cyan-light, $color-cyan-dark);
}
