$nav-height: 50px;
$nav-icon-size: 25px;
$subnav-height: 50px;
$subnav-icon-size: 25px;

$action-height: 50px;
$action-textarea-height: 30px;


$standard-padding: 16px;

$standard-padding-v: $standard-padding*0.8;
