<div class="img-backdrop__container-wrapper">
  <div id="js-backdrop" class="img-backdrop__container img-backdrop__container--gradient-bottom"></div>
</div>

<div class="modal__body">
  <h3 class="title-article">{{ title }}</h3>
  <!--<h5>{{ tagline }}</h5>-->
  <p>{{ overview }}</p>
  <!--<p>{{ release_date }}</p>-->
</div>
