<div class='nav__controls nav__controls--left'>
  <a class='nav__control' href='#' id='nav-back-cancel'>
    <span class='icon icon-back'></span>
  </a>
</div>
<div class='nav__controls nav__controls--center-right'>
  <div class="search-input">
    <input class="input input--nav input--search" id="search-input" name="search-input" placeholder="{{ placeholder }}" type="text" value="">
    <div class="search-input__controls">
      <div class="search-input__clear" id="search-input__clear">
        <a href="#">
          <span class="icon icon-close"></span>
        </a>
      </div>
      <div class="search-input__loading" id="search-input__loading">
        <span class="icon icon-schedule"></span>
      </div>
    </div>
  </div>
</div>